body {
    margin: 0 auto;
    padding: 0;
    font-family: Raleway, Arial, "sans-serif";
}
/*Header*/
.page-header {
    width: 100%;
    min-width: 1402px;
    z-index: 1000;
    background-color: black;
}

.header-content {
    padding: 18px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1118px;
}

.menu-main {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-main li {
    margin: 0 22px 0 0;
    display: inline-block;
}

.menu-main li:last-child {
    margin: 0;
}

.menu-link {
    padding: 20px 0;
    text-decoration: none;
    opacity: 0.69;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    transition: color 0.25s linear;
}

.menu-link:hover {
    color: #FA8F21;
}

/*Screen*/

.main-screen {
    width: 100%;
    min-width: 1402px;
    background-position: center;
    background-color: black;
    background-size: 100%;
    background-image: url(../img/bg-header.png);
}

.main-screen-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 102px 140px 150px 145px;
    width: 1118px;

}

.information-wrapper {
    width: 542px;
}

.main-screen-logo {
    margin-bottom: 32px;
}

.main-screen-title {
    width: 542px;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.main-screen-title:after {
    content: "";
    margin: 32px 0 32px 0;
    display: block;
    width: 100px;
    height: 2px;
    background-color: #ffffff;
}

.main-screen-subtitle {
    margin: 0 0 42px 0;
    width: 491px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

.main-screen-button-download {
    box-sizing: border-box;
    width: 134px;
    height: 42px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background: transparent;
    font-family: Raleway, Arial, "sans-serif";
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
}

.main-screen-button-download:hover {
    cursor: pointer;
    background: #ffffff;
    color: #000000;
    transition: background-color 0.7s linear;
}

.form {
    margin-top: 26px;
    width: 360px;
    border-radius: 6px 6px 6px 6px;
    background-color: #ffffff;
}

.header-form {
    margin-bottom: 36px;
    border-radius: 6px 6px 0 0;
    background-color: #DFDFDF;
}

.header-form-text {
    padding: 15px 0;
    text-align: center;
    color: #333333;
    font-size: 20px;
    font-weight: 800;
}

.free {
    color: #ff8b38;
}

.main-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 56px;
}

.main-input {
    padding: 0 0 0 10px;
    width: 276px;
    height: 32px;
    font-family: Raleway, Arial, "sans-serif";
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

input:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #eae8e8;

}

input::placeholder {
    opacity: 0.67;
}

.main-input:nth-child(-n+2) {
    margin-bottom: 36px;
}

.footer-form {
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 0 0 6px 6px;
    background-color: #ff9b51;

    color: #ffffff;
    font-family: Raleway, Arial, "sans-serif";
    font-size: 15px;
    font-weight: 600;
}

.footer-form:hover {
    cursor: pointer;
    background-color: #e97724;
    transition: background-color 0.6s;
}

/*Social-media*/

.social-media {
    position: relative;
    z-index: 100;
    width: 100%;
    min-width: 1402px;
    background: #FFFFFF;
    box-shadow: 0 -1px 13px rgba(0, 0, 0, 0.25);
}

.content-social-media {
    margin: 0 auto;
    padding: 17px 142px 17px 142px;
    width: 1119px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-content-social-media {
    width: 390px;
}

.heading-social-media {
    margin: 0 0 6px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2em;
    color: #333333;
}

.subtitle-social-media {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
}

.social-icons {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.social-icons li {
    margin: 0 32px 0 0;
}

.social-icons li:last-child {
    margin: 0;
}

.img-social {
    width: 40px;
    height: 40px;
}

.social-links {
    padding: 0;
    opacity: 1;
}

/*Tabs*/

.tabs {
    width: 100%;
    min-width: 1402px;
    background: #F5F5F5;
}

.tabs-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 131px 143px 131px 143px;
    width: 1116px;
}

.squares-content {
    display: flex;
    flex-direction: column;
}

.buttons-tab {
    cursor: pointer;
    padding: 0;
    width: 112px;
    height: 112px;
    background: #333333;
    border: none;

    font-family: Raleway, Arial, "sans-serif";
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;

    color: #FFFFFF;
}

.button-tab-1 {
    border-radius: 4px 4px 0 0;
    margin-bottom: 2px;
}

.button-tab-2 {
    margin-bottom: 2px;
}

.button-tab-3 {
    border-radius: 0 0 4px 4px;
}

.button-tab-1:hover {
    background: #FF9B51;
    transition: background-color 0.5s;
}

.button-tab-2:hover {
    background: #FF9B51;
    transition: background-color 1.5s;
}

.button-tab-3:hover {
    background: #FF9B51;
    transition: background-color 3s;
}

.text-content {
    width: 506px;
}

.heading-tabs {
    margin: 0 0 42px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.subtitle-tabs {
    margin: 0 0 42px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;


    color: #86878B;
}

.second-subtitle-tabs {
    margin: 0 0 42px 0;
}

.tabs-button-download {
    width: 134px;
    height: 42px;
    background: #FA8F21;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-family: Raleway, Arial, "sans-serif";
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.tabs-button-download:hover {
    cursor: pointer;
    background: #333333;
    transition: background-color 0.6s;
}

.image-content {
    margin-top: 19px;
}

/*Awesome*/

.awesome {
    width: 100%;
    min-width: 1402px;
}

.awesome-content {
    margin: 0 auto;
    padding: 102px 144px 113px 144px;
    width: 1114px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heading-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 66px;
    width: 640px;


}

.main-heading {
    text-align: center;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #212121;
}

.main-heading:after {
    content: "";
    margin: 22px auto;
    display: flex;
    width: 100px;
    height: 2px;
    background-color: #FA8F21;
}

.subtitle-heading {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
}

.awesome-columns {
    width: 1131px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.awesome-columns-image {
    margin-bottom: 27px;
}

.column-heading {
    margin: 0 0 16px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.column-subtitle {
    margin: 0;
    width: 349px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
}

/*Pricing*/

.pricing {
    width: 100%;
    min-width: 1402px;
    background: #F5F5F5;
}

.pricing-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 102px 146px 111px 147px;
    width: 1109px;
}

.pricing-text-content {
    margin: 0 0 81px 0;
}

.pricing-heading:after {
    width: 64px;
}

.pricing-slots {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1109px;
}

.cards {
    width: 343px;
}

.card-header {
    padding: 17px 0;
    text-align: center;
    width: 343px;
    background: #333333;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    border-bottom: #FFFFFF 1px solid;
}

.card-price {
    padding: 38px 0;
    text-align: center;
    width: 343px;
    background: #333333;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
    border-bottom: #FFFFFF 1px solid;
}

.card-sub-text {
    padding: 13px 0;
    text-align: center;
    width: 343px;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.7);
    background: #333333;
    border-bottom: #FF8B38 5px solid;
}

.card-slider{
    padding: 8px 0;
    text-align: center;
    width: 343px;
    background: #FF8B38;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;


    color: #FFFFFF;
}

.card-feature {
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width: 343px;
    background: #FFFFFF;
    font-size: 14px;
    line-height: 24px;

    color: #86878B;
    border-bottom: #F5F5F5 1px solid;
}

.card-feature:nth-child(4) {
    border-bottom: #F5F5F5 2px solid;
}

.card-professional .card-feature:nth-child(5) {
    border-bottom: #F5F5F5 2px solid;
}

/*Testimonials*/

.testimonials {
    width: 100%;
    min-width: 1402px;
}

.testimonials-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 73px 159px 102px 177px;
    width: 1066px;
}

.testimonials-text-content {
    margin: 0 0 85px 0;
}

.testimonials-heading:after {
    width: 64px;
}

.block-of-comments {
    display: flex;
    justify-content: space-between;
    width: 1066px;
}

.comment {
    width: 290px;
}

.text-comment {
    margin: 0;
    padding: 25px 0 18px 12px;
    background: #F5F5F5;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #86878B;
}

.place-comment:after {
    content: "";
    margin: 0 0 11px 25px;
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 17px solid #F5F5F5;
}

.user {
    display: flex;
    align-items: center;
}

.user-information {
    padding: 0 0 0 16px;
}

.user-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}

.user-profession {
    font-size: 14px;
    line-height: 16px;
    color: #86878B;
}

/*Custom*/

.custom {
    width: 100%;
    min-width: 1402px;
    background-blend-mode: multiply;
    background-image: url(../img/custom/architecture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.50);


}

.custom-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 494px 54px 490px;
    width: 416px;
}

.custom-text-color {
    color: #FFFFFF;
}

.custom-text-color.main-heading:after {
    content: "";
    margin: 22px auto;
    display: flex;
    width: 64px;
    height: 2px;
    background-color: #FFFFFF;
}

.custom-line {
    background: #FFFFFF;
}

.custom-button {
    margin: 38px 0 0 0;
}

.custom-button:hover {
    margin: 38px 0 0 0;
}

/*Contact*/

.contact {
    width: 100%;
    min-width: 1402px;
}

.contact-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 73px 155px 105px 155px;
    width: 1092px;
}

.main-heading:after {
    content: "";
    margin: 22px auto;
    display: flex;
    width: 64px;
    height: 2px;
    background-color: #FA8F21;
}

.contact-text-content {
    margin: 0 0 119px 0;
}

.input-forms {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    width: 1092px;
}

.contact-form {
    padding: 0;
    width: 527px;
    margin-bottom: 0;
}

.contact-input {
    padding: 0 0 0 10px;
    width: 527px;
    height: 32px;
}

.contact-input:nth-child(-n+2) {
    margin-bottom: 28px;
}

textarea {
    resize: none;
    margin: 0;
    padding: 5px 0 0 10px;
    width: 509px;
    height: 152px;
    font-family: Raleway, Arial, "sans-serif";
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

textarea:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #eae8e8;

}

textarea::placeholder {
    opacity: 0.67;
}

/*Footer*/

footer {
    width: 100%;
    min-width: 1402px;
    background-color: #000000;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 28px 519px 28px 519px;
    width: 362px;
}

.footer-icons {
    margin: 0 0 22px 0;
}

.footer-img-social {
    width: 32px;
    height: 32px;
}

.copyright {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}