@import "variables.css";

body {
    margin: 0 auto;
    padding: 0;
    font-family: var(--text-family-raleway);
}

.default-button{
    cursor: pointer;
    min-width: 134px;
    height: 42px;
    font-family: var(--text-family-raleway);
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    color: var(--color-default);
    border: 1px solid var(--color-default);
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

:after{
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    background-color: var(--color-default);
}

/*Header*/
.page-header {
    min-width: 1402px;
    z-index: 1000;
    background-color: black;
}

.header-content {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px 0 145px;
    width: 1118px;
    min-height: 63px;
}

.navigation{
    align-self: stretch;
}

.menu-main{
    height: 100%;
    display: flex;
}

.menu-main li {
    margin: 0 22px 0 0;
    display: flex;
}

.menu-main li:last-child {
    margin: 0;
}

.menu-link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    opacity: 0.69;
    color: var(--color-default);
    font-family: var(--text-family-open-sans);
    font-size: var(--text-size);
    transition: color 0.25s linear;
}

.menu-link:hover {
    color: var(--color-primary-100);
}

/*Screen*/

.main-screen {
    min-width: 1402px;
    background-position: center;
    background-color: black;
    background-size: 100%;
    background-image: url(../img/bg-header.png);
}

.main-screen-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 102px 140px 150px 145px;
    width: 1118px;

}

.information-wrapper {
    width: 542px;
}

.main-screen-logo {
    margin-bottom: 32px;
}

.main-screen-title {
    position: relative;
    padding-bottom: 32px;
    margin: 0 0 32px 0;
    font-size: 36px;
    line-height: 42px;
    color: var(--color-default);
}

.main-screen-title:after {
    left: 0;
    width: 100px;
}

.main-screen-subtitle {
    margin: 0 0 42px 0;
    width: 491px;
    color: var(--color-default);
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

.main-screen-button-download {
    background: transparent;
}

.main-screen-button-download:hover {
    background: var(--color-default);
    color: #000000;
    transition: background-color 0.7s linear;
}

.form {
    overflow: hidden;
    margin-top: 26px;
    width: 360px;
    border-radius: 6px 6px 6px 6px;
    background-color: var(--color-default);
}

.header-form {
    margin: 0;
    background-color: #DFDFDF;
    padding: 15px 10px;
    text-align: center;
    color: #333333;
    font-size: 20px;
    font-weight: 800;
}

.free {
    color: var(--color-primary);
}

.main-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 36px 0 56px 0;
}

.main-input {
    padding: 0 0 0 10px;
    width: 276px;
    height: 32px;
    font-family: var(--text-family-raleway);
    font-size: var(--text-size);
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

input:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #eae8e8;

}

input::placeholder {
    opacity: 0.67;
}

.main-input:nth-child(-n+2) {
    margin-bottom: 36px;
}

.button-form {
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 0;
    background-color: var(--color-primary);
}

.button-form:hover {
    background-color: #e97724;
    transition: background-color 0.6s;
}

/*Social-media*/

.social-media {
    position: relative;
    z-index: 100;
    width: 100%;
    min-width: 1402px;
    background: var(--color-default);
    box-shadow: 0 -1px 13px rgba(0, 0, 0, 0.25);
}

.social-media-content {
    margin: 0 auto;
    padding: 17px 140px 17px 145px;
    width: 1119px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.social-media-text-content {
    width: 390px;
}

.social-media-heading {
    margin: 0 0 6px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2em;
    color: #333333;
}

.social-media-subtitle {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-size);
    line-height: 20px;
    color: var(--color-text-default);
}

.social-icons {
    display: flex;
}

.social-icons li {
    margin: 0 32px 0 0;
}

.social-icons li:last-child {
    margin: 0;
}

.img-social {
    width: 40px;
    height: 40px;
}

.social-link {
    display: inline-block;
    padding: 0;
    opacity: 1;
}

/*Tabs*/

.tabs-container {
    min-width: 1402px;
    background: #F5F5F5;
}

.tabs-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 131px 140px 131px 145px;
    width: 1116px;
}

.tabs {
    display: flex;
    flex-direction: column;
}

.button-tab {
    padding: 0;
    width: 112px;
    height: 112px;
    background: #333333;
    border: none;
    font-weight: bold;
    line-height: 20px;
}

.button-tab:nth-child(1) {
    border-radius: 4px 4px 0 0;
    margin-bottom: 2px;
}

.button-tab:nth-child(2) {
    margin-bottom: 2px;
    border-radius: 0;
}

.button-tab:nth-child(3) {
    border-radius: 0 0 4px 4px;
}

.button-tab:nth-child(1):hover {
    background: #FF9B51;
    transition: background-color 0.5s;
}

.button-tab:nth-child(2):hover {
    background: #FF9B51;
    transition: background-color 1.5s;
}

.button-tab:nth-child(3):hover {
    background: #FF9B51;
    transition: background-color 3s;
}

.text-content {
    width: 506px;
}

.heading-tabs {
    margin: 0 0 42px 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.subtitle-tabs {
    margin: 0 0 42px 0;
    font-size: var(--text-size);
    line-height: 20px;
    color: var(--color-text-default);
}

.second-subtitle-tabs {
    margin: 0 0 42px 0;
}

.tabs-button-download {
    background: var(--color-primary-100);
}

.tabs-button-download:hover {
    background: #333333;
    transition: background-color 0.6s;
}

.image-content {
    padding-top: 19px;
}

/*Awesome*/

.awesome {
    min-width: 1402px;
}

.awesome-content {
    margin: 0 auto;
    padding: 102px 140px 113px 145px;
    width: 1125px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heading-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 66px;
    width: 640px;


}

.main-heading {
    position: relative;
    text-align: center;
    padding-bottom: 22px;
    margin: 0 0 22px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #212121;
}

.main-heading:after {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 102px;
    background-color: var(--color-primary-100);
}

.subtitle-heading {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-size);
    line-height: 20px;
    color: var(--color-text-default);
}

.awesome-columns {
    width: 1131px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.inner-content {
    width: 349px;
}

.awesome-image {
    margin-bottom: 27px;
}

.inner-heading {
    margin: 0 0 16px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.inner-subtitle {
    margin: 0;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: var(--text-size);
    line-height: 20px;
    color: var(--color-text-default);
}

/*Pricing*/

.pricing {
    min-width: 1402px;
    background: #F5F5F5;
}

.pricing-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 102px 140px 111px 145px;
    width: 1109px;
}

.pricing-text-content {
    margin: 0 0 81px 0;
}

.pricing-heading:after {
    width: 64px;
}

.pricing-slots {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1109px;
}

.card {
    width: 343px;
    text-align: center;
}

.card-header {
    padding: 17px 0;
    background: #333333;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-default);
    border-bottom: var(--color-default) 1px solid;
}

.card-price {
    padding: 38px 0;
    background: #333333;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: var(--color-default);
    border-bottom: var(--color-default) 1px solid;
}

.card-sub-text {
    padding: 13px 0;
    font-style: italic;
    font-weight: 600;
    font-size: var(--text-size);
    line-height: 24px;

    color: rgba(255, 255, 255, 0.7);
    background: #333333;
    border-bottom: var(--color-primary) 5px solid;
}

.card:nth-child(2) .card-sub-text {
    border-bottom: none;
}

.card-slider {
    padding: 8px 0;
    background: var(--color-primary);

    font-weight: bold;
    font-size: var(--text-size);
    line-height: 24px;

    color: var(--color-default);
}

.card-feature {
    padding: 8px 0;
    text-transform: uppercase;
    background: var(--color-default);
    font-size: var(--text-size);
    line-height: 24px;

    color: var(--color-text-default);
    border-bottom: #F5F5F5 1px solid;
}

.card-feature:nth-child(1) {
    border-bottom: #F5F5F5 2px solid;
}

/*Testimonials*/

.testimonials {
    min-width: 1402px;
}

.testimonials-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 73px 159px 102px 159px;
    width: 1066px;
}

.testimonials-text-content {
    margin: 0 0 85px 0;
}

.testimonials-heading:after {
    width: 64px;
}

.block-of-comments {
    display: flex;
    justify-content: space-between;
    width: 1066px;
}

.comment {
    width: 290px;
}

.comment-quote {
    position: relative;
    margin: 0 0 28px 0;
    padding: 25px 20px 18px 12px;
    background: #F5F5F5;
    font-style: italic;
    font-weight: normal;
    font-size: var(--text-size);
    line-height: 16px;
    color: var(--color-text-default);
}

.comment-quote:after {
    content: "";
    position: absolute;
    left: 25px;
    bottom: -17px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 17px solid #F5F5F5;
}

.user {
    display: flex;
    align-items: center;
}

.user-image {
    margin: 0 16px 0 0;
}

.user-name {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}

.user-profession {
    margin: 0;
    font-size: var(--text-size);
    line-height: 16px;
    color: var(--color-text-default);
}

/*Custom*/

.custom {
    min-width: 1402px;
    background-blend-mode: multiply;
    background-image: url(../img/custom/architecture.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.50);


}

.custom-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 73px 140px 102px 145px;
    width: 1066px;
}

.custom-text-content {
    margin-bottom: 38px;
}

.custom-text {
    color: var(--color-default);
}

.custom-text.main-heading:after {
    width: 64px;
    background-color: var(--color-default);
}

.custom-button{
    background: transparent;
}

.custom-button:hover {
    background: var(--color-default);
    color: #000000;
    transition: background-color 0.7s linear;
}

/*Contact*/

.contact {
    min-width: 1402px;
}

.contact-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 73px 140px 105px 145px;
    width: 1092px;
}

.contact-heading:after {
    width: 64px;
}

.contact-text-content {
    margin: 0 0 119px 0;
}

.feedback-forms {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
    width: 1092px;
    max-height: 155px;
}

.contact-button{
    background: var(--color-primary-100);
}

.contact-button:hover {
    background: #333333;
    transition: background-color 0.6s;
}

.contact-form {
    margin: 0;
    padding: 0;
    max-width: 527px;
}

.contact-input {
    width: 516px;
}

.contact-input:nth-child(-n+2) {
    margin-bottom: 28px;
}

textarea {
    resize: none;
    margin: 0;
    padding: 5px 0 0 10px;
    min-width: 509px;
    font-family: var(--text-family-raleway);
    font-size: var(--text-size);
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

textarea:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #eae8e8;

}

textarea::placeholder {
    opacity: 0.67;
}

/*Footer*/

footer {
    min-width: 1402px;
    background-color: #000000;
}

.footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 28px 140px 28px 145px;
}

.footer-icons {
    margin: 0 0 22px 0;
}

.footer-img-social {
    width: 32px;
    height: 32px;
}

.copyright {
    font-size: 12px;
    line-height: var(--text-size);
    color: var(--color-default);
}