html{
    overflow-x:hidden;
}
body {
    margin: 0;
    padding: 0;
}

header {
    width: 1402px;
    height: 64px;
    background-color: black;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 141px 19px 143px;
    width: 1118px;
    height: 27px;
}

.menu-main {
    margin: 0;
    list-style: none;
}

.menu-main li {
    display: inline-block;
}

.menu-link {
    padding: 0 0 0 22px;
    text-decoration: none;
    width: 52px;
    height: 12px;
    opacity: 0.69;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;

}


.screen {
    width: 1402px;
    height: 650px;
    background-color: black;
    background-image: url(../img/bg-header.png);


}

.screen-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 102px 140px 150px 145px;
    width: 1117px;
    height: 398px;

}

.download {
    width: 542px;
    height: 398px;
}

.text-modern {
    margin: 0;
    padding: 32px 0 0 0;
    width: 542px;
    height: 85px;
    font-family: Raleway;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
}

.line-modern {
    margin: 32px 0 0 0;
    width: 100px;
    height: 2px;
    border: none;
    background-color: #ffffff;

}

.text-lorem {
    padding: 32px 0 0 0;
    width: 491px;
    height: 71px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

.button-download {
    margin: 42px 0 0 0;
    width: 134px;
    height: 38px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background: transparent;
    font-family: Raleway;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;

}

.button-download:hover {
    margin: 42px 0 0 0;
    width: 134px;
    height: 38px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background: #ffffff;
    font-family: Raleway;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
    transition: background-color 0.6s;
}

.form {
    position: relative;
    margin: 30px 0 0 0;
    width: 360px;
    height: 314px;
    border-radius: 6px 6px 6px 6px;
    background-color: #ffffff;
}

.header-form {
    position: absolute;
    top: -46px;
    width: 360px;
    height: 54px;
    border-radius: 6px 6px 0 0;
    background-color: #DFDFDF;
}

.header-form-text {
    padding: 16px 61px 15px 61px;
    width: 238px;
    height: 23px;
    color: #333333;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 800;
    text-align: center;

}

.free {
    color: #ff8b38;
}

.main-form {
    padding: 36px 42px 110px 42px;
    width: 276px;
    height: 168px;
}

.main-input {
    padding: 0 0 0 10px;
    width: 276px;
    height: 32px;
    font-family: Raleway;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

input:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #eae8e8;

}

input::placeholder {
    opacity: 0.67;
}

.main-input:nth-child(-n+2) {
    margin-bottom: 36px;
}

.footer-form {
    position: absolute;
    bottom: 0;
    width: 360px;
    height: 54px;
    border: none;
    border-radius: 0 0 6px 6px;
    background-color: #ff9b51;
}

.footer-form:hover {
    width: 360px;
    height: 54px;
    border: none;
    border-radius: 0 0 6px 6px;
    background-color: #e97724;
    transition: background-color 0.6s;
}

.footer-form-text {
    padding: 18px 139px 18px 139px;
    width: 82px;
    height: 18px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.social-media {
    width: 1402px;
    height: 105px;
    background: #FFFFFF;
    box-shadow: 0 -1px 13px rgba(0, 0, 0, 0.25);
}

.content-social-media {
    padding: 18px 139px 17px 144px;
    width: 1119px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.text-content-social-media {
    width: 390px;
    height: 70px;
}

.heading-social-media {
    margin: 0;
    width: 152px;
    height: 23px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}

.lorem-social-media {
    margin: 0;
    padding: 6px 0 0 0;
    width: 390px;
    height: 41px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
}

.social-icons {
    width: 400px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.img-social {
    width: 40px;
    height: 40px;
}

.social-links {
    padding: 0;
    opacity: 1;
}

.tabs {
    width: 1402px;
    height: 598px;
    background: #F5F5F5;
}

.tabs-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 131px 143px 131px 143px;
    width: 1116px;
    height: 336px;
}

.squares-content {
    display: flex;
    flex-direction: column;
}

.buttons-tab{
    width: 112px;
    height: 112px;
    background: #333333;
    border: none;

    font-family: Raleway;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;

    color: #FFFFFF;
}
.button-tab-1 {
    border-radius: 4px 4px 0 0;
}

.button-tab-2 {
    margin-top: 2px;
}

.button-tab-3 {
    margin-top: 2px;
    border-radius: 0 0 4px 4px;
}

.button-tab-1:hover {
    background: #FF9B51;
    transition: background-color 0.5s;
}

.button-tab-2:hover {
    background: #FF9B51;
    transition: background-color 1.5s;
}

.button-tab-3:hover {
    background: #FF9B51;
    transition: background-color 3s;
}

.text-content {
    width: 506px;
    height: 295px;
}

.tabs-heading {
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.subtitle-lorem {
    margin: 0;
    text-align: justify;
    width: 506px;
    height: 146px;
    padding-top: 42px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;


    color: #86878B;
}

.tabs-button-download {
    margin-top: 42px;
    width: 134px;
    height: 42px;
    background: #FA8F21;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-family: Raleway;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.tabs-button-download:hover {
    background: #333333;
    transition: background-color 0.6s;
}

.awesome {
    width: 1402px;
    height: 587px;
}

.awesome-content {
    padding: 102px 144px 113px 144px;
    width: 1114px;
    height: 372px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.heading-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    height: 109px;

}

.main-heading {
    margin: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #212121;
}

.line-heading {
    margin: 22px 0 0 0;
    width: 64px;
    height: 2px;
    border: none;
    background-color: #FF8B38;
}

.awesome-line{
    width: 102px;
    height: 2px;
}

.subtitle-heading {
    margin: 0;
    padding: 22px 0 0 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
}

.awesome-columns {
    padding: 66px 0 0 0;
    width: 1131px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-heading {
    margin: 0;
    padding: 27px 0 0 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}

.column-subtitle {
    margin: 0;
    padding: 16px 0 0 0;
    width: 349px;
    height: 62px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #86878B;
}

.pricing {
    width: 1402px;
    height: 900px;
    background: #F5F5F5;
}

.pricing-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 102px 146px 111px 147px;
    width: 1109px;
    height: 687px;
}

.pricing-slots {
    display: flex;
    justify-content: space-between;
    align-items: end;

    padding: 81px 146px 111px 147px;
    width: 1109px;
    height: 497px;
}

.cards {
    width: 343px;
    height: 497px;
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 59px;
    background: #333333;
    font-family: Raleway;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.card-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 0 0 0;
    width: 343px;
    height: 100px;
    background: #333333;
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    color: #FFFFFF;
}

.card-sub-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px 0 0 0;
    width: 343px;
    height: 50px;
    font-family: Raleway;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;

    color: rgba(255, 255, 255, 0.7);
    background: #333333;
}

.card-slider {
    width: 343px;
    height: 5px;
    background: #FF8B38;
}

.card-slider-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 40px;
    background: #FF8B38;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;



    color: #FFFFFF;
}

.card-feature {
    margin: 1px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 343px;
    height: 40px;
    background: #FFFFFF;
    font-family: Raleway;
    font-size: 14px;
    line-height: 24px;

    color: #86878B;
}

.card-feature:nth-child(6) {
    margin: 2px 0 0 0;
}

.testimonials {
    width: 1402px;
    height: 594px;
}

.testimonials-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 73px 159px 102px 177px;
    width: 1066px;
    height: 419px;
}

.block-of-comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1066px;
    height: 225px;
    }

.comment {
    width: 290px;
    height: 225px;
}

.text-comment {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 25px 0 18px 12px;
    background: #F5F5F5;
    font-family: Raleway;
    font-style: italic;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    line-height: 16px;
    color: #86878B;
}

.triangle {
    margin: 0 0 0 25px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 17px solid #F5F5F5;
}

.user {
    display: flex;
    align-items: center;
    padding: 11px 0 0 0;
}

.user-information {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 16px;
}

.user-name {
    font-family: Raleway;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
}

.user-profession {
    font-family: Raleway;
    font-size: 14px;
    line-height: 16px;
    color: #86878B;
}

.custom {
    width: 1402px;
    height: 297px;
    background-color: rgba(51, 51, 51, 0.58);
    background-image: url(../img/custom/architecture.svg);
}

.custom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 494px 54px 490px;
    width: 416px;
    height: 189px;
}

.custom-text-color {
    color: #FFFFFF;
}

.custom-line {
    background: #FFFFFF;
}

.custom-button {
    margin: 38px 0 0 0;
}

.custom-button:hover {
    margin: 38px 0 0 0;
}

.contact {
    width: 1402px;
    height: 638px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 73px 155px 105px 155px;
    width: 1092px;
    height: 460px;
}

.input-forms {
    display: flex;
    justify-content: space-between;
    width: 1092px;
    height: 152px;
}

.contact-form {
    padding: 0;
    width: 527px;
    height: 152px;
}

.contact-input {
    padding: 0;
    width: 527px;
    height: 32px;
}

.contact-input:nth-child(-n+2) {
    margin-bottom: 28px;
}


textarea {
    resize: none;
    margin: 0;
    padding: 0;
    width: 509px;
    height: 152px;
    font-family: Raleway;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

textarea:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
    background-color: #eae8e8;

}

textarea::placeholder {
    opacity: 0.67;
}

footer {
    width: 1402px;
    height: 124px;
    background-color: #000000;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 28px 519px 28px 519px;
    width: 362px;
    height: 68px;
}

.footer-icons{
    width: 362px;
    height: 32px;
}

.copyright {
    font-family: Raleway;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}