:root {
    /*Text*/
    --text-size: 14px;
    --text-family-open-sans:'Open Sans', sans-serif;
    --text-family-raleway: Raleway, Arial, "sans-serif";

    /*Color*/
    --color-default: #ffffff;

    --color-text-default: #86878B;

    --color-primary:#ff8b38;
    --color-primary-100:#FA8F21;


}